.action-area {
  overflow: hidden;
}

.action {
  width: 640px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.wait {
  text-align: center;
}

.wait img {
  height: 160px;
}

form {
  text-align: center;
  width: 640px;
  margin: 0 auto;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .action {
    width: 100%;
    padding: 0 25px;
  }

  form {
    width: 100%;
    padding: 0 25px;
  }
}
