.action-area {
  overflow: hidden;
}

.action-area .title {
  margin-bottom: 25px;
  text-align: left;
}

.action {
  width: 640px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.ticket-area {
  display: flex;
  flex-wrap: wrap;
}

.ticket-area>* {
  flex: 1;
}

form {
  margin: 0 auto;
  margin-top: 25px;
}

form button {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .action {
    width: 100%;
    padding: 0 25px;
  }

  form {
    width: 100%;
    padding: 0 25px;
  }
}
