.footer-area {
  background: #2e2e2e;
  text-align: center;
  color: #fff;
}

.footer-area .container {
  padding: 50px 0;
}

.footer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer .logo {
  margin-right: 15px;
}

.footer ul {
  padding: 25px 0;
}

.footer ul li {
  display: inline-block;
  margin: 0 5px;
}

.footer ul li.top a {
  background: #4caf50;
  padding: 5px 15px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
}

.footer ul li a {
  color: #fff;
  text-decoration: none;
}

.event {
  display: flex;
  align-items: center;
}

.event h3 {
  color: #fff;
  font-size: 42px;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    padding: 0 25px;
  }

  .footer .logo {
    transform: scale(1.2);
  }

  .event h3 {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .footer>* {
    flex: 1 1 100%;
  }

  .event {
    justify-content: center;
    margin-bottom: 15px;
  }

  .footer ul li.top {
    display: block;
    margin-top: 25px;
  }
}
