.intro-area {
  position: relative;
  background: #ecdb43;
  height: 590px;
}

.intro-area::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../assets/images/bg.png');
  background-size: cover;
  opacity: 0.35;
  z-index: 0;
}

.intro {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  z-index: 1;
}

.intro p {
  font-weight: 300;
  font-size: 22px;
}

.intro h1 {
  font-size: 48px;
}

.details {
  margin-top: 25px;
}

.details ul li {
  display: inline-block;
  margin-right: 15px;
}

.details ul li p {
  font-size: 24px;
  font-weight: 900;
}

.details ul li p small {
  display: block;
  font-weight: 300;
}

@media (max-width: 768px) {
  .intro {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .intro-area {
    height: 480px;
  }

  .intro {
    height: auto;
    margin-top: 45px;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h1 {
    font-size: 36px;
  }

  .details ul li {
    margin-top: 15px;
  }

  .details ul li p {
    font-size: 18px;
  }
}
