.intro-area {
  position: relative;
  background: #ecdb43;
  height: 700px;
}

.intro-area .info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.intro-area .info>* {
  flex: 1;
}

.intro-area .info .animation {
  position: relative;
  text-align: left;
  flex: 1;
  z-index: 1;
}

.intro-area .info .animation img {
  position: relative;
  animation: guyAnimated 1s alternate infinite;
}

.intro-area .intro {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  z-index: 1;
  flex: 2;
}

.intro p {
  font-weight: 300;
  font-size: 24px;
}

.intro h1 {
  font-size: 52px;
}

.details {
  margin-top: 45px;
}

.details ul li {
  display: inline-block;
  margin-right: 25px;
}

.details ul li p {
  font-size: 26px;
  font-weight: 900;
}

.details ul li p small {
  display: block;
  font-weight: 300;
}

@media (max-width: 768px) {
  .intro-area .info {
    flex-direction: column-reverse;
  }

  .intro-area::after {
    bottom: -25px;
    left: calc(50% - 30px);
    height: 60px;
    width: 60px;
  }

  .intro {
    text-align: center;
  }

  .intro p,
  .details ul li p {
    font-size: 22px;
  }

  .intro h1 {
    font-size: 36px;
  }

  .intro-area .info .animation {
    margin: 25px 0;
  }

  .intro-area .info .animation img {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .intro-area {
    height: 660px;
  }

  .intro-area .intro {
    margin: 0;
  }

  .intro-area .info .animation {
    margin: 15px 0;
  }

  .intro {
    height: auto;
    margin-top: 45px;
  }

  .details {
    margin: 0;
  }

  .intro p {
    font-size: 16px;
  }

  .intro h1 {
    font-size: 36px;
  }

  .details ul li {
    margin: 0 3px;
    margin-top: 15px;
  }

  .details ul li p {
    font-size: 18px;
  }
}

@keyframes guyAnimated {
  from {
    top: 0;
  } to {
    top: -15px;
  }
}
