table {
  width: 100%;
  border-collapse: collapse;
}

tbody th {
  text-align: left;
}

tbody>tr>* {
  padding: 15px 10px;
  border: solid 1px #ebebeb;
}

tbody tr th {
  background: #045fa4;
  color: #fff;
  border: none;
}

tbody tr .no {
  text-align: center;
}

tbody tr .time {
  font-weight: 700;
  color: #045fa4;
}

tbody tr th,
tbody tr .no {
  font-weight: 700;
}

tbody tr:hover {
  background: #ebebeb;
}
