table {
  border: solid 2px #ebebeb;
  width: 100%;
  border-collapse: collapse;
}

tbody th {
  text-align: left;
}

tbody>tr>* {
  padding: 15px 10px;
  border: solid 1px #ebebeb;
}

tbody tr th {
  background: #ebebeb;
  border-bottom: solid 2px #2e2e2e;
}

tbody tr th,
tbody tr .no {
  text-align: center;
  font-weight: 900;
}

tbody tr:hover {
  background: #ebebeb;
}
