.speaker-area {
  background: #ebebeb;
}

.speaker {
  display: flex;
  flex-wrap: wrap;
}

.speaker .single {
  position: relative;
  width: calc(100% / 4 - 30px);
  margin: 0 15px;
  text-align: center;
  margin-bottom: 25px;
}

.speaker .single .image {
  position: relative;
  padding: 25px;
  z-index: 1;
}

.speaker .single .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../assets/speakers/bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.speaker .single img {
  position: relative;
  width: 100%;
  border-radius: 100%;
  border: solid 5px #ecdb43;
  padding: 10px;
  z-index: 1;
}

.speaker .single .info {
  margin-top: 15px;
}

.speaker .single .info h4 {
  font-size: 26px;
}

.speaker .single .info p {
  font-weight: 300;
}

.speaker .single .image img:hover {
  animation: moveImage 1s alternate;
}

@keyframes moveImage {
  0% {
    transform: translate3d(0, 0, 0);
  } 33% {
    transform: translate3d(-5px, 5px, 0);
  } 66% {
    transform: translate3d(5px, -5px, 0);
  } 100% {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 991px) {
  .speaker .single {
    width: calc(100% / 3 - 30px);
  }
}

@media (max-width: 768px) {
  .speaker .single {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 480px) {
  .speaker .single {
    width: calc(100% - 30px);
    text-align: center;
  }
}
