.speaker-area {
  background: #ebebeb;
}

.speaker {
  display: flex;
  flex-wrap: wrap;
}

.speaker .single {
  width: calc(100% / 4 - 30px);
  margin: 0 15px;
  margin-bottom: 25px;
}

.speaker .single img {
  width: 100%;
  border-radius: 8px;
}

.speaker .single .info {
  margin-top: 15px;
}

.speaker .single .info h4 {
  font-size: 26px;
}

.speaker .single .info p {
  font-weight: 300;
}

@media (max-width: 991px) {
  .speaker .single {
    width: calc(100% / 3 - 30px);
  }
}

@media (max-width: 768px) {
  .speaker .single {
    width: calc(100% / 2 - 30px);
  }
}

@media (max-width: 480px) {
  .speaker .single {
    width: calc(100% - 30px);
    text-align: center;
  }
}
