.speaker-area {
  background: #ebebeb;
}

.speaker {
  position: relative;
}

.mark {
  position: relative;
  text-align: center;
  z-index: 1;
}

.mark p {font-size: 26px;font-weight: 700;text-transform: uppercase;}

.mark h4 {
  display: inline-block;
  background: #3e3e3e;
  color: #fff;
  padding: 5px 10px;
  margin: 15px 0;
  border-radius: 4px;
}

.mark.start-time h4 {
  background: #4caf50;
}

.mark.end-time h4 {
  background: #f44336;
}

.speaker::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 50%;
  width: 3px;
  height: calc(100% - 100px);
  background: #3e3e3e;
  z-index: 0;
}

.speaker-area .single {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 45px 0;
}

.speaker-area .single::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  top: 6px;
  left: calc(50% - 9px);
  border-radius: 10px;
  background: #4caf50;
  border: solid 3px #3e3e3e;
  box-sizing: border-box;
}

.speaker-time h4 {
  position: relative;
  background: #045fa4;
  color: #fff;
  padding: 4px 15px;
  width: 100px;
  border-radius: 4px;
  z-index: 1;
}

.speaker-time h4::after {
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left: -24px;
  width: 27px;
  z-index: -1;
  border: solid 13px transparent;
  border-right-color: #045fa4;
  box-sizing: border-box;
}

.speaker-area .single:nth-child(2n) .speaker-time h4 {
  margin-left: auto;
}

.speaker-area .single:nth-child(2n) .speaker-time h4:after {
  left: initial;
  right: -24px;
  border-left-color: #045fa4;
  border-right-color: transparent;
}

.speaker-time p {
  margin-top: 5px;
}

.speaker-area .single>* {
  margin: 0 30px;
  width: calc(50% - 60px);
}

.speaker-area .single:nth-child(2n) {
  text-align: right;
  flex-direction: row-reverse;
}

.speaker-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: right;
  flex-direction: row-reverse;
}


.speaker-area .single:nth-child(2n) .speaker-details {
  text-align: left;
  flex-direction: row;
  justify-content: flex-start;
}

.speaker-details .image img {
  width: 100px;
  border-radius: 100%;
  border: solid 3px #ecdb43;
  padding: 5px;
}

.speaker-details .image {
  margin: 0 15px;
}

.speaker-details .info h4 {
  font-size: 36px;
}

@media (max-width: 991px) {

}

@media (max-width: 768px) {
  .speaker-details .info h4 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .speaker-area .single {
    background: #ebebeb;
    padding: 15px 0;
  }

  .speaker-area .single>* {
    flex: 1 1 100%;
    justify-content: center;
    text-align: center;
  }

  .speaker-area .single:nth-child(2n),
  .speaker-area .single {
    text-align: center;
  }

  .speaker-time h4,
  .speaker-area .single:nth-child(2n) .speaker-time h4 {
    margin: 10px auto;
  }

  .speaker-time h4:after,
  .speaker-area .single:nth-child(2n) .speaker-time h4:after {
    display: none;
  }

  .speaker-area .single:nth-child(2n) .speaker-details {
    justify-content: center;
    text-align: center;
  }

  .speaker-area .single::before {
    top: -15px;
  }
}
