.sponsor-area {
  background: #ebebeb;
}

.sponsor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.single {
  width: calc(100%/3 - 30px);
  padding: 45px 25px;
  padding-top: 0;
  margin: 0 15px;
}

.single img {
  width: calc(100% - 50px);
}
