.sponsor-area {
  position: relative;
}

.sponsor-area .container {
  position: relative;
  z-index: 1;
}

.sponsor-area::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: -20px;
  background-image: url('../assets/images/wave.svg');
}

.sponsor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor .single {
  width: calc(100%/3 - 30px);
  padding: 45px 25px;
  margin: 0 15px;
  text-align: center;
}

.sponsor .single img {
  width: calc(100% - 50px);
  transition: 2s all;
}

@media (max-width: 991px) {
  .sponsor .single {
    padding: 45px 0px;
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  .sponsor .single {
    padding: 25px 0px;
    padding-top: 0;
  }
}

@media (max-width: 480px) {
  .sponsor .single {
    width: calc(100%/2 - 30px);
  }
}
