input {
  padding: 10px 15px;
  border: solid 2px #bebebe;
  margin: 5px;
  font-size: 18px;
  border-radius: 4px;
  width: calc(100%/2 - 10px);
}

input[name=trid] {
  width: calc(100% - 10px);
}

@media (max-width: 480px) {
  input {
    width: 100%;
  }
}
