.logo {
  position: relative;
  height: 50px;
  width: 50px;
  background: #4CAF50;
  border-radius: 8px;
}

.logo .circle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #F44336;
  border-radius: 40px;
}
