.logo {
  position: relative;
  z-index: 1;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 40px;
  width: 40px;
  background: #2e2e2e;
  transform: rotate(45deg);
  border-radius: 8px;
  z-index: -1;
}

.logo img {
  margin: 8px;
  padding: 2px;
  height: auto;
  width: 25px;
}
