.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar.fixed {
  position: fixed;
  background: #ecdb43;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 5%;
  border-bottom: solid 3px #3e3e3e;
  z-index: 10;
  transition: 0.2s all;
}

.navbar.fixed .brand-area {
  padding: 15px 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 25px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #2e2e2e;
}

.navbar ul li a.btn {
  background: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
}
