.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navbar.fixed {
  position: fixed;
  background: #ecdb43;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0 5%;
  border-bottom: solid 3px #3e3e3e;
  z-index: 10;
  transition: 0.2s all;
}

.navbar.fixed .brand-area {
  padding: 15px 0;
}

.navbar ul li {
  display: inline-block;
  margin-left: 25px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  color: #2e2e2e;
}

.navbar ul li a.btn {
  background: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
}

.mobile-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background: #f44336;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 700;
  border-radius: 4px;
}

.navbar.fixed .mobile-menu {
  right: 25px;
  top: 20px;
}

@media (max-width: 991px) {
  .navbar.fixed {
    padding: 0 4%;
  }

  .navbar ul li {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .navbar {
    justify-content: flex-start;
  }

  .navbar>* {
    flex: 1 1 100%;
  }

  .navbar ul {
    display: none;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ecdb43;
    text-align: center;
    padding: 25px 15px;
  }

  .navbar ul.mobile-nav {
    display: block;
  }

  .navbar.fixed .navbar ul {
    padding: 0;
  }

  .navbar ul li {
    display: block;
    padding: 10px 0;
  }

  .mobile-menu {
    display: block;
  }
}
