.title {
  text-align: center;
  margin-bottom: 100px;
}

.title h2 {
  font-size: 48px;
  margin-bottom: 15px;
}

.title p {
  font-size: 24px;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 60px;
  }
}
